/* Estilos generales */
.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.metric {
  margin-bottom: 20px;
}

.metric-label {
  font-weight: bold;
}

.metric-value {
  font-size: 24px;
}

.product-list {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.product-list-item {
  margin-bottom: 5px;
}

.sort-option {
  margin-bottom: 10px;
}

.chart-container {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.chart-header {
  text-align: center;
}

.victory-bar.custom-chart-bars {
  fill: #7ad412 !important; /* Color de las barras */
}

.victory-bar.custom-chart-bars:hover {
  fill: #ffffff !important; /* Color de las barras al pasar el mouse */
}



.chart text {
  font-size: 12px;
  fill: #ffffff; /* Color del texto */
  text-anchor: start;
}

/* Adaptabilidad para toda la página */
@media (max-width: 600px) {
  .dashboard-container {
    max-width: 100%;
    padding: 10px;
  }

  .metric {
    margin-bottom: 10px;
  }

  .chart-container {
    width: 100%;
    height: 200px;
  }

  .metric-value {
    font-size: 18px;
  }

  .product-list-item {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .dashboard-container {
    padding: 5px;
  }

  .metric-value {
    font-size: 16px;
  }

  .product-list-item {
    font-size: 12px;
  }

  .chart-container {
    height: 150px;
  }
}
