.chartCanvas {
    width: 100%;
    height: 400px;
    /* Otros estilos que desees aplicar al gráfico */
  }
  
  /* Media queries */
  /* Estilos para pantallas pequeñas (móviles) */
  @media (max-width: 480px) {
    .chartCanvas {
      height: 300px;
    }
  }
  
  /* Estilos para pantallas medianas (tabletas) */
  @media (min-width: 481px) and (max-width: 1024px) {
    .chartCanvas {
      height: 350px;
    }
  }
  
  /* Estilos para pantallas grandes (escritorio) */
  @media (min-width: 1025px) {
    .chartCanvas {
      height: 400px;
    }
  }
  